{% load static %}
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
<nav>
    <li><a href="{% url 'principal' %}">Principal</a></li>
    <li><a href="{% url 'contacto' %}">Contacto</a></li>
    {% if user.is_authenticated %}
        <li><a href="{% url 'preferencias' %}">Comidas preferidas</a></li>
        <li><a href="{% url 'cerrar_sesion' %}">Cerrar sesion</a></li>
    {% else %}
        <li><a href="{% url 'iniciar_sesion' %}">Iniciar sesion</a></li>
        <li><a href="{% url 'registrarse' %}">Registrarse</a></li>
    {% endif %}
    <li id="fecha"></li>
</nav>
<script src="{% static 'js/app.js' %}"></script>
</body>

</html>
{% block content %}
{% endblock %}
