{% extends 'base.html' %}
{% block content %}
    <form action="/iniciar_sesion/" method="POST" class="formulario">
        {% csrf_token %}
        {{ error }}
        <div class="grupo-formulario">
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>
        <div class="grupo-formulario">
            {{ form.password.label_tag }}
            {{ form.password }}
        </div>
        <button type="submit" class="boton boton-primario">Iniciar sesión</button>
    </form>
{% endblock %}
