{% extends 'base.html' %}
{% block content %}
    <div class="contenedor-principal">
        <form action="/registrarse/" method="POST" class="formulario">
            {% csrf_token %}
            {{ error }}
            <div class="grupo-formulario">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="grupo-formulario">
                {{ form.password1.label_tag }}
                {{ form.password1 }}
            </div>
            <div class="grupo-formulario">
                {{ form.password2.label_tag }}
                {{ form.password2 }}
            </div>
            <button type="submit" class="btn btn-primary">Registrarse</button>
        </form>
    </div>
{% endblock %}
